*{
    font-family: 'DM Sans', sans-serif;
    box-sizing: border-box;
}

.pointer{
    cursor: pointer;
}

.little-padding{
    padding: 5px 20px;
}

a{
    text-decoration: none;
    color: initial;
}

/* HEADER */

.full-header-handler{
    width: 100%;
    background-color: #c5ff8f;
    background-image: linear-gradient(to right bottom, #c5ff8f, #b6ee82);
}

.full-header-handler h1{
    color: #47c92d;
    text-align: center;
    font-size: 60px;
    padding-top: 230px;
    padding-bottom: 300px;
}

.landing-title{
	text-shadow: 3px 3px 0px #41ba29;
}

.top-bar-text-handler{
	position: fixed;
    top: 0;
	z-index: 9999;
	width: 100%;
    background-color: rgba(189, 247, 135, 0.9);
    background-image: linear-gradient(to right bottom, rgba(197, 255, 143, 0.9), rgba(182, 238, 130, 0.9));
	transition: top 0.5s;
}

.top-bar-text{
    width: 50%;
    height: 65px;
    padding: 0 5px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 3px;
}

.top-bar-text-left *{
    font-size: 20px;
}

.top-bar-text-right{
    display: flex;
}

.top-bar-text-right p{
    color: rgb(47, 47, 47);
    margin-left: 10px;
}

.icon-arrow{
    color: #47c92d;
    font-size: 30px;
    text-align: center;
    padding-bottom: 10px;
    margin: 0;
    animation: arrow-move 2s ease infinite;
}

@keyframes arrow-move{
    0%{

    }
    50%{
        transform: translateY(-5px);
    }
    70%{
        transform: translateY(-5px);
    }
    100%{

    }
}

/* ----------------- */

/* MODULABLE PART */

.modulable-part{
    height: 1000px;
    display: flex;
    justify-content: space-between;
}

.modulable-part-left,
.modulable-part-right{
    width: 48%;
}

.modulable-part-left{
    display: flex;
    justify-content: center;
    align-items: center;
}

.screen-modulable{
    width: 700px;
    height: 450px;
    border-radius: 5px;
    background-color: rgb(179, 235, 90);
}

.modulable-part-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.modulable-part-right-title{
    margin: 0;
    color: rgb(169, 226, 83);
    font-size: 60px;
}

.modulable-part-right-subtitle{
    margin-bottom: 200px;
    margin-top: 20px;
    color: rgb(176, 224, 103);
    font-size: 30px;
}

.screen-modulable-header{
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
    width: 680px;
    height: 80px;
    border-radius: 5px;
    background-color: rgb(144, 192, 68);
    animation: screen-modulable-header 4s ease 1s infinite;
}

@media screen and (max-width: 1600px){
    .modulable-part{
        flex-direction: column-reverse;
        height: inherit;
    }

    .modulable-part-left,
    .modulable-part-right{
        width: 100%;
        margin: 50px 0;
    }

    .modulable-part-right-title{
        text-align: center;
    }

    .modulable-part-right-subtitle{
        margin: 20px 0;
        text-align: center;
    }
}

@keyframes screen-modulable-header{
    0%{

    }
    10%{
        width: 450px;
        margin-left: 115px;
    }
    40%{
        width: 450px;
        margin-left: 115px;
    }
    50%{
        width: 330px;
        margin-left: 85px;
    }
    70%{
        width: 330px;
        margin-left: 85px;
    }
    80%{
        margin-left: 10px;
        width: 480px;
    }
    86%{
        margin-left: 10px;
        width: 680px;
    }
}

.screen-modulable-main{
    position: absolute;
    margin-top: 100px;
    margin-left: 10px;
    width: 480px;
    height: 340px;
    border-radius: 5px;
    background-color: #DCEDC1;
    animation: screen-modulable-main 4s ease 1s infinite;
}

@keyframes screen-modulable-main{
    0%{

    }
    10%{
        width: 320px;
        margin-left: 115px;
    }
    40%{
        width: 320px;
        margin-left: 115px;
    }
    50%{
        width: 330px;
        margin-left: 85px;
    }
    70%{
        width: 330px;
        margin-left: 85px;
    }
    80%{
        margin-left: 10px;
        width: 480px;
    }
}

.screen-modulable-nav{
    position: absolute;
    margin-top: 100px;
    margin-left: 500px;
    width: 190px;
    height: 340px;
    border-radius: 5px;
    background-color: #FFD3B6;
    animation: screen-modulable-nav 4s ease 1s infinite;
}

@keyframes screen-modulable-nav{
    0%{

    }
    10%{
        width: 120px;
        height: 340px;
        margin-left: 445px;
        margin-top: 100px;
    }
    40%{
        width: 120px;
        height: 340px;
        margin-left: 445px;
        margin-top: 100px;
    }
    50%{
        width: 200px;
        height: 340px;
        margin-left: 425px;
        margin-top: 100px;
    }
    60%{
        width: 200px;
        height: 430px;
        margin-left: 425px;
        margin-top: 10px;
    }
    70%{
        width: 200px;
        height: 430px;
        margin-left: 425px;
        margin-top: 10px;
    }
    80%{
        margin-left: 500px;
        margin-top: 100px;
        height: 340px;
        width: 190px;
    }
}

/* ----------------- */

/* RESPONSIVE PART */

.responsive-part{
    height: 1000px;
    background-color: #f38eff;
    background-image: linear-gradient(to right bottom, #f38eff, #f394fe, #f399fd, #f29ffc, #f2a4fb);
    display: flex;
    justify-content: space-between;
}

.responsive-part-left,
.responsive-part-right{
    width: 48%;
}

.responsive-part-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.screen-responsive{
    width: 700px;
    height: 450px;
    border-radius: 5px;
    background-color: #FFF;
    animation: screen-responsive 4s ease 1s infinite;
}

.responsive-part-right{
    display: flex;
    justify-content: center;
    align-items: center;
}

.responsive-part-left-title{
    margin: 0;
    color: rgb(255, 255, 255);
    font-size: 60px;
    text-align: right;
}

.responsive-part-left-subtitle{
    margin-bottom: 200px;
    margin-top: 20px;
    color: rgb(248, 248, 248);
    font-size: 30px;
    text-align: right;
}

@media screen and (max-width: 1600px){
    .responsive-part{
        flex-direction: column;
        height: inherit;
    }

    .responsive-part-left,
    .responsive-part-right{
        width: 100%;
        margin: 50px 0;
    }

    .responsive-part-left-title{
        text-align: center;
    }

    .responsive-part-left-subtitle{
        margin: 20px 0;
        text-align: center;
    }
}

@keyframes screen-responsive{
    10%{
        width: 700px;
    }
    20%{
        width: 500px;
    }
    40%{
        width: 500px;
    }
    50%{
        width: 300px;
    }
    80%{
        width: 300px;
    }
    90%{
        width: 700px;
    }
}

.screen-responsive-header{
    position: absolute;
    width: 600px;
    height: 50px;
    margin-top: 10px;
    margin-left: 50px;
    border-radius: 5px;
    background-color: #fbdede;
    animation: screen-responsive-header 4s ease 1s infinite;
}

@keyframes screen-responsive-header{
    10%{
        width: 600px;
        margin-left: 50px;
        margin-top: 10px;
        border-radius: 5px;
    }
    20%{
        width: 450px;
        margin-left: 25px;         
        margin-top: 10px;
        border-radius: 5px;
    }
    40%{
        width: 450px;
        margin-left: 25px;    
        margin-top: 10px;
        border-radius: 5px;
    }
    50%{
        width: 300px;
        margin-left: 0px;    
        margin-top: 0px;
        border-radius: 5px 5px 0 0;
    }
    80%{
        width: 300px;
        margin-left: 0px;    
        margin-top: 0px;
        border-radius: 5px 5px 0 0;
    }
    90%{
        width: 600px;
        margin-left: 50px;
        margin-top: 10px;
        border-radius: 5px;
    }
}

.screen-responsive-main{
    position: absolute;
    width: 400px;
    height: 370px;
    margin-top: 70px;
    margin-left: 50px;
    border-radius: 5px;
    background-color: #FFD3B6;
    animation: screen-responsive-main 4s ease 1s infinite;
}

@keyframes screen-responsive-main{
    5%{
        width: 400px;
        height: 370px;
        margin-top: 70px;
        margin-left: 50px;
    }
    10%{
        width: 400px;
        height: 300px;
        margin-top: 140px;
        margin-left: 50px;
    }
    20%{
        width: 450px;
        height: 300px;
        margin-top: 140px;
        margin-left: 25px;
    }
    40%{
        width: 450px;
        height: 300px;
        margin-top: 140px;
        margin-left: 25px;
    }
    50%{
        width: 280px;
        height: 380px;
        margin-top: 60px;
        margin-left: 10px;
    }
    80%{
        width: 280px;
        height: 380px;
        margin-top: 60px;
        margin-left: 10px;
    }
    90%{
        width: 400px;
        height: 370px;
        margin-top: 70px;
        margin-left: 50px;
    }
}

.screen-responsive-nav{
    position: absolute;
    width: 190px;
    height: 370px;
    margin-top: 70px;
    margin-left: 460px;
    border-radius: 5px;
    background-color: #A8E6CF;
    animation: screen-responsive-nav 4s ease 1s infinite;
}

@keyframes screen-responsive-nav{
    5%{
        width: 190px;
        height: 370px;
        margin-top: 70px;
        margin-left: 460px;
    }
    10%{
        width: 190px;
        height: 60px;
        margin-top: 70px;
        margin-left: 460px;
    }
    20%{
        width: 450px;
        height: 60px;
        margin-top: 70px;
        margin-left: 25px;
    }
    40%{
        width: 450px;
        height: 60px;
        margin-top: 70px;
        margin-left: 25px;
    }
    50%{
        width: 280px;
        height: 0;
        margin-top: 55px;
        margin-left: 10px;
    }
    80%{
        width: 280px;
        height: 0;
        margin-top: 5px;
        margin-left: 10px;
    }
    81%{
        width: 0px;
        height: 0px;
        margin-top: 70px;
        margin-left: 460px;
    }
    82%{
        width: 0px;
        height: 370px;
        margin-top: 70px;
        margin-left: 460px;
    }
    90%{
        width: 190px;
        height: 370px;
        margin-top: 70px;
        margin-left: 460px;
    }
}

/* CONTACT */

.text-mail{
    font-size: 25px;
    width: 50%;
    margin: 230px auto 180px auto;
    text-align: center;
}

@media screen and (max-width: 775px){
    .text-mail{
        width: 95%;
    }
}

.text-mail a, .interest-h1 a{
    color: coral;
}

.interest-h1{
    text-align: center;
    width: 90%;
    margin: 0 auto;
    line-height: 45px;
}

.footer{
    text-align: center;
    position: relative;
    padding: 20px 20px 50px 20px;
    background-color: #fff8cd;
}

.wave-footer{
    top: 0;
    left: 0;
    width: 100%;
    height: 150px;
    overflow: hidden;
}

.footer-content{
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 800px){
    .footer-content{
        flex-direction: column;
        align-items: center;
    }
}

.footer-column{
    padding: 15px 20px 25px 20px;
    width: 250px;
}

.footer-column a{
    color: rgb(216, 73, 21);
}

.end-text-brand{
    text-align: center;
    margin: 35px 2px 15px 2px;
}
