/* PORTFOLIO */

@media screen and (max-width: 775px){

    /* TOP BAR */

    .portfolio-title{
        font-size: 2em;
    }

    .top-bar-text{
        width: 100%;
        margin: 0;
    }

    .full-header-handler h1{
        font-size: 2.5em;
    }

    .top-bar-text-handler{
        background-image: rgb(255, 226, 64, 0.2);
    }


    /* ARTICLE RESPONSIVE */

    .article-handler{
        width: 99%;
    }

    .single-article{
        flex-direction: column;
        width: 100%;
    }

    .article-left{
        width: 100%;
    }

    .article-right{
        width: 100%;
        margin-left: 0;
        margin-bottom: 20px;
    }

}